.currencyWrapper {
    position:fixed;
    background:transparent;
    height:100%;
    width:100vw;
}

.currencySelector {
    position: absolute;
    top: 0;
    right: 10%;
    padding: 20px 20px 20px 5px;
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    font-size: 18px;
    background: white;
}

.currencySelector ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
}

.currencySelector li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px 10px 10px 0;
    cursor: pointer;
}

.currencySelector li p {
    padding-left: 10px;
}

.currencySelector li:hover {
    color: rgb(97, 97, 97) !important;
}