.currency-wrapper {
    position:fixed;
    background:transparent;
    height:100%;
    width:100vw;
}

.currency-selector {
    position: absolute;
    top: 0;
    right: 10%;
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    font-size: 18px;
    background: white;
    margin-top:60px;
}

.currency-selector ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}

.currency-selector li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
}

.currency-selector p {
    font-size:18px;
    font-weight: 500;
    padding-right:4px;
}

.currency-selector h4 {
    font-size:18px;
    font-weight: 500;
}

.currency-selector li:hover {
    background: #EEEEEE;
}