
.cardBody {
    justify-content: flex-start;
    padding: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.cardBody:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.cardBody:hover .addToCart {
    visibility: visible
}

.cardImage {
    position: relative;
    height: 350px;
}

.stockImage {
    filter:blur(1px);
    opacity: 0.3;
}

.stock {
    position: absolute;
    font-size: 24px;
    font-weight:400;
    color:#8D8F9A;
    margin-left: auto;
    position: absolute;
    top: 50%;
    right:25%;
}

.cardBody img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.addToCart {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    bottom: -8%;
    right:5%;
    background-color: #5ECE7B;
    border: none;
    border-radius: 25px;
    height:52px;
    width:52px;
    cursor: pointer;
}

.addToCart:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    background-color:#65da84;
}

.addToCart img {
    padding:14px;
}

.cardOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.cardOptions p {
 font-size: 14px;
 font-weight: 600;
 margin: 20px 0px 20px 5px;
}

.cardOptions span {
    margin: 20px 0px 20px 5px;
    height: 20px;
    width: 20px;
    padding:10px;
    border: 1px solid #1D1F22;
    color: #1D1F22;
    font-size: 12px;
}

.cardOptions span:hover {
    background: #1D1F22;
    color:#fff;
}

.cardOptions .swatch {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height:30px;
    width:30px;
    padding:5px;
    margin:0 0 0 10px;
    border: 1px solid #1D1F22;
    transition: all .2s ease-in-out;
}

.cardOptions .selected {
    background: #1D1F22;
    color:#fff;
}



.cardDescription {
    padding-top: 40px;
}

.itemName {
padding-bottom: 10px;
font-size: 18px;
font-weight: 300;
}

.itemPrice {
    font-size: 18px;
    font-weight: 500;
}