
.miniProductContainer {
    display: flex;
    justify-content:space-between;
    margin: 50px 0;
}

.miniDescription {
    width: 40%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.miniDescription p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 8px;
}

.miniDescription h4 {
    font-size: 16px;
    font-weight: 300;
    margin: 8px 0;
}

.miniDescription .price {
    font-weight: 600;
    padding: 5px 0;
    margin-bottom: 30px;
}

.miniProductOption {
    flex-wrap: wrap;
}

.miniDescription span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    height: 30px;
    width: 30px;
    padding: 20px;
    border: 1px solid #1D1F22;
    margin-top: 8px;
}

.miniQuantityContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.miniQuantityContainer button {
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border: 1px solid #1D1F22;
    background: #fff;
    margin-right: 10px;
    cursor: pointer;
 }

 .miniQuantityContainer button:hover {
    color:#fff;
    background: #1D1F22;
 }


 .miniProductImage {
     display: block;
     height: auto;
     width: 40%;
 }

 .miniProductImage img {
     height: 100%;
     width: 100%;
     object-fit:scale-down;
     overflow: hidden;
 }

 .miniProductImage img:hover {
     filter: blur(.8px);
 }