.cart-wrapper {
    position: fixed;
    z-index: 1;
    top: 0;
    height:100vh;
    width: 100vw;
    background: #48455c38;
}

.mini-cart-container {
    position: absolute;
    background: #fff;
    padding: 15px;
    top: 1;
    right: 10%;
    width: 325px;
    z-index: 2;
    margin-bottom: 20px;
}

.mini-cart-container h2 {
    font-size: 16px;
    font-weight: 700;
}

.mini-cart-container span {
    font-weight: 500;
}

.total-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.total-container p {
    font-size:16px;
    font-weight: 700;
}

.mini-cart-actions {
    display: flex;
    justify-content: space-between;
}

.outlined-button {
    background: #fff;
    border: 1px solid #1D1F22;
    width: 100%;
    font-size: 16px;
    margin-top: 30px;
    margin-right: 10px;
    padding: 15px 20px;
    cursor: pointer;
}

.outlined-button:hover {
    background: #1D1F22;
    color: #fff
}

.no-products {
    margin: 50px 0;
    font-size: 16px;
    font-weight: 300;
}