
.productContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    width: 100%;
    border-top: 1px solid #E5E5E5;
    padding: 20px 0;
}

.cartProductdescription {
    
}

.cartProductdescription h2 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom:10px;
}

.cartProductdescription h4 {
    font-size: 30px;
    font-weight: 400;
    padding-bottom:20px;
}

.cartProductdescription .price {
    font-size:24px;
    font-weight: 700;
    padding-bottom: 20px;;
}

.productOption {
    flex-wrap: wrap;
}

.cartProductdescription button {
    border: 1px solid #1D1F22;
    padding: 5px;
    height: 50px;
    width: 70px;
    background: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin: 0 10px 10px 0;
}

.cartProductdescription button:hover {
    background: #1D1F22;
    color: #fff;
}

.cartProductdescription .selected {
    color: #fff;
    background: #1D1F22;
}

.cartProductdescription p {
    font-size:18px;
    font-weight: 600;
    margin-bottom: 10px;;
}

.productDisplayContainer {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    height:400px;
}

.quantityContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.quantityContainer button {
    font-size: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid #1D1F22;
    background: #fff;
    margin-right: 10px;
    cursor: pointer;
 }

 .quantityContainer button:hover {
    color:#fff;
    background: #1D1F22;
 }

 .quantityContainer p {
     font-size: 24px;
     font-weight: 500;
 }

 .productImage {
     position: relative;
     display: block;
     height: 100%;
     width: 300px;
     margin-left:10px;
 }

 .productImage img {
     height: 100%;
     width: 100%;
     object-fit:scale-down;
     overflow: hidden;
 }

 .productImage img:hover {
    filter:blur(.8px);
    z-index: 0;
 }

 .productImage:hover .slideContainer{
     visibility: visible;
 }

 .slideContainer {
     position: absolute;
     visibility: hidden;
     z-index: 2;
     bottom: 50%;
     display:flex;
     justify-content: space-between;
     width: 100%;
 }

 .slideContainer button {
     cursor: pointer;
     background: transparent;
     border:none;
 }

 .slideButtonLeft svg {
    fill: #1D1F22;
    stroke: #1D1F22;
 }

 .slideButtonRight svg {
    fill: #1D1F22;
    stroke: #1D1F22;
 }

 .slideButtonLeft svg:hover {
     fill: #363a3f;
     stroke:#363a3f;
     transform: translateX(-2px);
 }

 .slideButtonRight svg:hover {
    fill: #363a3f;
    stroke:#363a3f;
    transform: translateX(2px);
}