
.product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    width: 100%;
    border-top: 1px solid #E5E5E5;
    padding: 20px 0;
}


.cart-product-description h2 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom:10px;
}

.cart-product-description h4 {
    font-size: 30px;
    font-weight: 400;
    padding-bottom:20px;
}

.cart-product-description .price {
    font-size:24px;
    font-weight: 700;
    padding-bottom: 20px;;
}

.product-option {
    flex-wrap: wrap;
}

.cart-product-attributes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.cart-product-attributes ul{
    display: flex;
}

.cart-options {
    border: 1px solid #1D1F22;
    background: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin: 0 10px 10px 0;
}

.cart-selected {
    color: #fff;
    background: #1D1F22;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin: 0 10px 10px 0;
}

.cart-options:hover {
    background: #1D1F22;
    color: #fff;
}

.cart-swatch {
    display: flex;
    height: 32px;
    width: 32px;
    padding: 16px;
    cursor: pointer;
    
    border: 1px solid #1D1F22;
}

.cart-swatch-outline {
   padding: 3px;
   margin: 5px 5px 0 0;
}

.cart-active-swatch-outline {
   padding: 3px;
   border: 2px solid #5ECE7B;
   margin: 5px 5px 0 0;
}

.cart-product-attributes h4 {
    font-size: 22px;
    margin: 30px 0 20px 0;
    padding:0;
}

.cart-product-description p {
    font-size:18px;
    font-weight: 600;
    margin-bottom: 10px;;
}

.product-display-container {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    height:400px;
}

.quantity-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.quantity-container button {
    font-size: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid #1D1F22;
    background: #fff;
    margin-right: 10px;
    cursor: pointer;
 }

 .quantity-container button:hover {
    color:#fff;
    background: #1D1F22;
 }

 .quantity-container p {
     font-size: 24px;
     font-weight: 500;
 }

 .product-image {
     position: relative;
     display: block;
     height: 100%;
     width: 300px;
     margin-left:10px;
 }

 .product-image img {
     height: 100%;
     width: 100%;
     object-fit:scale-down;
     overflow: hidden;
 }

 .product-image img:hover {
    filter:blur(.8px);
    z-index: 0;
 }

 .product-image:hover .slide-container{
     visibility: visible;
 }

 .slide-container {
     position: absolute;
     visibility:hidden;
     z-index: 10;
     bottom: 5%;
     display:flex;
     justify-content: flex-end;
     width: 100%;
 }

 .slide-container button {
     cursor: pointer;
     background: transparent;
     border:none;
     padding: 4px;
     margin-right: 15px;
     background:rgba(0, 0, 0, 0.73);
 }

 .slide-button-left svg {
    fill: #fff;
 }

 .slide-button-right svg {
    fill: #fff;
 }

 .slide-button-right:hover {
transform: translateX(2px);
 }

 .slide-button-left:hover {
transform: translateX(-2px);
}

 .slide-button-left svg:hover {
     fill: rgb(173, 171, 171);
     
 }

 .slide-button-right svg:hover {
    fill: rgb(173, 171, 171);
    
}